<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (result | async)?.Genre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{ (result | async)?.Title }} </ion-card-title>
      <ion-card-subtitle> {{ (result | async)?.Year }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <img
        [src]="(result | async)?.Poster"
        alt="Movie Poster"
        class="info-img"
      />
      <br />
      {{ (result | async)?.Plot }}

      <ion-item lines="none">
        <ion-icon name="star-half" slot="start"></ion-icon>
        <ion-label class="text-wrap"
          >{{ (result | async)?.imdbRating }}</ion-label
        >
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label class="text-wrap"
          >{{ (result | async)?.Director }}</ion-label
        >
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="people-circle" slot="start"></ion-icon>
        <ion-label class="text-wrap">{{ (result | async)?.Actors }}</ion-label>
      </ion-item>

      <ion-button
        *ngIf="(result | async)?.Website && (result | async)?.Website !== 'N/A'"
        (click)="openWebsite()"
        expand="full"
      >
        Open Website
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
